<header class="header flex-start flex-columns items-center p12">
  <a class="logo title" href="/">
    <div class="mr12" style="font-size:25px;">
      GEOVOTE {{GIT_TAG}}
    </div>
  </a>
</header>
