<head>
  <title> geovote </title>
  <link rel="icon" href="/static/icons/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include 'bundle.jinja' %}
</head>
