<!DOCTYPE html>
<html>
  {% include 'head.jinja' %}
  <body>
    {% include 'header.jinja' %}
    <main class="main home-main">
      <section class="section flex-center items-center is-index-middle">
        <div class="text-center">

          <a class="button is-primary mb36" href="/creation">
            Créer un nouveau vote
          </a>

          <br/>

          <div class="title">
            Ou participez à un vote déjà créé:
          </div>

            <form action="/" method="post" name="vote">
              <div class="field text-field full items-center">
                <div class="field-control">
                <div class="field-inner flex-columns items-center">
                      <input
                        class="field-input field-text text-center mx8 fs22 py10"
                        name="questionId"
                        placeholder="Ecrire la référence d'un vote (Ex : F9)"
                        type="text"
                        autocomplete="off"
                      />
                    </div>
                 </div>
              </div>
            </form>
        </div>
      </section>
  </body>
</html>
